.admin-page {
  color: white;
  ul {
    list-style: none;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  input:checked + span {
    text-decoration: line-through;
  }

  .span-del {
    color: red;
    cursor: pointer;
  }
}
